*{
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

.content-flex {
    display: flex;
}

/* Typo ======================================= */

h3 {
    font-weight: 500;
}

h5 {
    font-style: italic;
    margin-top: 0;
}

/* Menu ====================================== */

.nav {
    width: 400px;
    height: 100vh;
    border-right-style: solid;
    border-color: rgba(118, 118, 118, 0.242);
    border-width: 1px;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-color: rgba(118, 118, 118, 0.242);
    border-width: 1px;
}

.user-avatar::part(base) {
    width: 7em;
    height: 7em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.menu-btn::part(base) {
    font-weight: 400;
    color: black;
    width: 400px;
    text-align: left;
    display: inline-flex;
    border-radius: 0;
}

.menu-btn::part(base):hover {
    background-color: rgb(29, 166, 168);
}

.menu-btn::part(label) {
    justify-content: left;
}

/* Content ==================================== */

.content {
    width: 80vw;
    margin: 4vw;
}

.card-overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Login Area ================================== */


.login-bg {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 1rem;
    background-color: rgb(208, 232, 233);
    width: 500px;
}

.login-flex {
    width: 400px;
    margin: auto;
}

.form-title {
    text-align: center;
}