<!DOCTYPE html>
<html lang="en">

  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
<body>

<div class="dashboard-home">
  <div class="nav">
    <div class="overlap-group">
      <img
        class="menu-divider-right"
        src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/menu-divider-right@1x.svg"
      />
      <div class="rectangle-1"></div>
      <div class="group-1">
        <div class="auto-flex1">
          <div class="icbaseline-dashboard">
            <img
              class="vector"
              src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/vector@2x.svg"
            />
          </div>
          <div class="wpfbooks">
            <img
              class="vector-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/vector-1@2x.svg"
            />
          </div>
          <div class="bxbxs-user">
            <img
              class="vector-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/vector-2@2x.svg"
            />
          </div>
          <div class="evasettings-2-fill">
            <div class="overlap-group1">
              <img
                class="vector-3"
                src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/vector-3@2x.svg"
              />
              <img
                class="vector-4"
                src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/vector-4@2x.svg"
              />
            </div>
          </div>
        </div>
        <div class="auto-flex">
          <div class="auto-flex-item valign-text-middle notosansjp-medium-black-14px">Dashboard</div>
          <div class="auto-flex-item valign-text-middle notosansjp-medium-black-14px">Courses</div>
          <div class="auto-flex-item valign-text-middle notosansjp-medium-black-14px">Account</div>
          <div class="auto-flex-item valign-text-middle notosansjp-medium-black-14px">Settings</div>
        </div>
      </div>
      <div class="group-3">
        <div class="nav-menu">
          <img
            class="ellipse-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/ellipse-1@2x.svg"
          />
          <img
            class="ellipse-"
            src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/ellipse-1@2x.svg"
          />
          <img
            class="ellipse-"
            src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/ellipse-1@2x.svg"
          />
        </div>
        <div class="group-2">
          <div class="overlap-group1-1">
            <img
              class="avatar-bg"
              src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/avatar-bg@2x.svg"
            />
            <img
              class="ellipse animate-enter"
              src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/6033843c254106bb236e6181/img/ellipse@2x.svg"
            />
          </div>
        </div>
      </div>
      <div class="php-dev-and-writer notosansjp-bold-black-12px">PHP dev and writer</div>
      <div class="name notosansjp-normal-gravel-18px">John Jones</div>
      <img
        class="avatar-divider"
        src="https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/avatar-divider@2x.svg"
      />
    </div>
  </div>
  <div class="text">
    <h1 class="course-name valign-text-middle notosansjp-bold-chicago-32px">Course Name</h1>
    <div class="title valign-text-middle notosansjp-bold-chicago-24px">Title</div>
    <div class="text-1 notosansjp-normal-chicago-18px">
      Tellus quam eget velit in volutpat diam ligula elementum vehicula. Tempus convallis eget enim sit. Elementum
      volutpat dui ac magnis faucibus gravida. Sagittis orci, scelerisque libero proin sed quam pulvinar enim tortor.
      Egestas tincidunt ultrices sed tincidunt. Laoreet a, amet, sed mattis. Imperdiet vitae, nisi odio ac accumsan.
      Auctor fermentum ac tincidunt nibh pulvinar tempor vitae placerat. Egestas nunc non varius netus gravida auctor
      netus ipsum.<br />Tellus dictum enim mi in dignissim sodales eu. At nulla massa leo hac. Porta neque, donec
      pharetra nec. Amet ultricies diam, adipiscing ornare pulvinar tincidunt nec non donec. Ornare accumsan,
      consectetur sed nunc, eleifend. Sed enim id a ac iaculis nulla mattis metus ac. Cras tristique purus lorem
      bibendum. Arcu tortor netus libero feugiat sed sit mollis vel aliquam. Gravida ac gravida consectetur nibh
      fermentum laoreet. Massa mi, amet feugiat netus euismod pharetra, blandit faucibus. Ultrices sagittis, interdum
      diam viverra magna at sem sed orci. Urna, nisi, enim euismod nibh ultricies. Tempus praesent eros, sed
      pellentesque nulla ut in sed. Massa consequat purus ut et netus laoreet varius. Iaculis phasellus varius arcu
      malesuada tellus adipiscing tortor.
    </div>
  </div>
</div>

    <script src="{{ url_for('static', filename='css/style.css') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">  

</body>
</html>