@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:500,700,400");
* {
  box-sizing: border-box;
}
.animate-enter {
  animation: animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}
.dashboard-home {
  align-items: flex-start;
  background-color: white;
  display: flex;
  width: 1440px;
}
.dashboard-home .auto-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  min-height: 248px;
  width: 334px;
}
.dashboard-home .auto-flex-item {
  height: 62px;
  letter-spacing: 0px;
  min-height: 62px;
  width: 334px;
}
.dashboard-home .auto-flex1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  min-height: 209px;
  width: 29px;
}
.dashboard-home .avatar-bg {
  height: 140px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 140px;
}
.dashboard-home .avatar-divider {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 352px;
  width: 400px;
}
.dashboard-home .bxbxs-user {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 4px;
  margin-top: 37px;
  padding: 2px 3px;
  width: 24px;
}
.dashboard-home .course-name {
  height: 37px;
  letter-spacing: 0px;
  min-height: 37px;
  width: 943px;
}
.dashboard-home .ellipse {
  display: block;
  height: 140px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 140px;
  opacity: 0;
  transform: translate(-25px, 0);
}
.dashboard-home .ellipse- {
  height: 8px;
  margin-left: 4px;
  width: 8px;
}
.dashboard-home .ellipse-1 {
  height: 8px;
  width: 8px;
}
.dashboard-home .evasettings-2-fill {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 3px;
  margin-top: 37px;
  padding: 0 2px;
  width: 24px;
}
.dashboard-home .group-1 {
  align-items: center;
  display: flex;
  height: 248px;
  left: 28px;
  min-width: 380px;
  position: absolute;
  top: 372px;
}
.dashboard-home .group-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 70px;
  margin-top: 8px;
  min-width: 151px;
}
.dashboard-home .group-3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/603378ce329c7b99b7b85ee0/releases/603378e4fc3aec52973e709b/img/user-avatar-bg@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 352px;
  left: 0px;
  min-width: 400px;
  padding: 20px;
  position: absolute;
  top: 0px;
}
.dashboard-home .icbaseline-dashboard {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}
.dashboard-home .menu-divider-right {
  height: 1024px;
  left: 399px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.dashboard-home .name {
  left: 150px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 268px;
  width: 101px;
}
.dashboard-home .nav {
  align-items: flex-start;
  display: flex;
  min-width: 404px;
}
.dashboard-home .nav-menu {
  align-items: flex-start;
  display: flex;
  min-width: 32px;
}
.dashboard-home .overlap-group {
  height: 1024px;
  position: relative;
  width: 408px;
}
.dashboard-home .overlap-group1 {
  height: 20px;
  position: relative;
  width: 20px;
}
.dashboard-home .overlap-group1-1 {
  height: 148px;
  position: relative;
  width: 151px;
}
.dashboard-home .php-dev-and-writer {
  left: 120px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 161px;
}
.dashboard-home .rectangle-1 {
  background-color: white;
  height: 672px;
  left: 0px;
  position: absolute;
  top: 352px;
  width: 400px;
}
.dashboard-home .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 46px;
  margin-top: 100px;
  min-height: 433px;
  width: 947px;
}
.dashboard-home .text-1 {
  letter-spacing: 0px;
  margin-top: 21px;
  min-height: 317px;
  width: 943px;
}
.dashboard-home .title {
  height: 37px;
  letter-spacing: 0px;
  margin-top: 21px;
  min-height: 37px;
  width: 943px;
}
.dashboard-home .vector {
  height: 18px;
  width: 18px;
}
.dashboard-home .vector-1 {
  height: 27px;
  margin-top: -0.5px;
  width: 23px;
}
.dashboard-home .vector-2 {
  height: 19px;
  width: 18px;
}
.dashboard-home .vector-3 {
  height: 4px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 4px;
}
.dashboard-home .vector-4 {
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.dashboard-home .wpfbooks {
  align-items: flex-start;
  display: flex;
  height: 26px;
  margin-left: 3px;
  margin-top: 37px;
  overflow: hidden;
  padding: 0 1.5px;
  width: 26px;
}
.notosansjp-bold-black-12px {
  color: black;
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.notosansjp-bold-chicago-24px {
  color: var(--chicago);
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.notosansjp-bold-chicago-32px {
  color: var(--chicago);
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.notosansjp-medium-black-14px {
  color: black;
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.notosansjp-normal-chicago-18px {
  color: var(--chicago);
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.notosansjp-normal-gravel-18px {
  color: var(--gravel);
  font-family: "Noto Sans JP", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --chicago: rgba(94, 94, 94, 1);
  --gravel: rgba(74, 74, 74, 1);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(-25px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
